<!doctype html>
<html>
   <head>
      <title>Chating</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
      <script
         src="https://code.jquery.com/jquery-3.3.1.min.js"
         integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
         crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
      <script src="/js/custom.js"></script>
   </head>
   <body>
      <div class="container">
      <strong> Logged in as : <%= sender.local.name %></strong>
      <input type="hidden" value="<%= sender._id %>" id="current_userid">
      <input type="hidden" value="<%= receiver.local.name %>" id="receiver_username">
      <input type="hidden" value="<%= sender.local.name %>" id="current_username">
      <input type="hidden" value="<%= receiver._id %>" id="receiverid">
      <div class="container">
         <div class="container theme-showcase">
            <div class="container">
               <div class="page-header">
                  <h1><span class="fa fa-chat"></span> Chating with <%= receiver.local.name %> </h1>
                  <a href="/profile" class="btn btn-default btn-sm float-left">Go Back</a>
               </div>
               <div class="row">
                  <div class="panel panel-default widget">
                     <div class="panel-heading">
                        <div class="panel-body">
                           <ul class="list-group " id="chat">
                              <% messages.forEach((message) => { %>
                              <% if(message.receiverId._id ==  sender._id.toString()){%>
                              <li class="list-group-item bubble">
                                 <div class="row ">
                                    <div class="col-xs-10 col-md-11 ">
                                       <div class="ro">
                                          <h4 class="list-group-item-heading "><%= message.senderId.local.name%> :</h4>
                                          <p class="list-group-item-text"><%= message.message %></p>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <% } else {%>
                              <li class="list-group-item   ">
                                 <div class="row ">
                                    <div class="col-xs-10 col-md-11 ">
                                       <div class="bubble2"><%= message.message %> </div>
                                    </div>
                                 </div>
                              </li>
                              <% } %>
                              <% })%>
                           </ul>
                        </div>
                        <div class="input-group input-group-addon">
                           <textarea id="txtMessage" class="form-control" placeholder="Message"></textarea><br>
                           <button id="send" class="form-control btn btn-success">Send</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>


  