<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1><span class="fa fa-home"></span> Dash Board</h1>
            <a href="/logout" class="btn btn-default btn-sm float-left">Logout</a>
            Logged in user name: <strong> <%= user.local.name %></strong>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3><span class="fa fa-user"></span> Logged in users list</h3>
                    <% usersData.forEach((user) => { %>
                    <div class="well">
                        <p>
                            <strong class="name">Name</strong>: <%= user.local.name %><br>
                            <strong class="email">Email</strong>: <%= user.local.email %><br>
                            <strong class="username">Username</strong>: <%= user.local.username %>
                        </p>
                        <button onclick="location.href = 'chat/<%= user._id %>';" id="myButton" class="float-left submit-button" >Chat</button>
                    </div>
                    <% }) %> 
            </div>
        </div>
    </div>
</body>
</html>
